.navbar-nav{
    flex-direction: row;
    margin-bottom: -20px;
    justify-content: space-evenly;
}

.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:20px;
}
.navbar-icon-top .navbar-nav .nav-link > .fa {
    position: relative;
    width: 36px;
    font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
    font-size: 0.75rem;
    position: absolute;
    right: 0;
    font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
    left:4px;
    top: 3px;
    line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
    top: -10px; }



.navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
     text-align: center;
     display: table-cell;
     height: 70px;
     vertical-align: middle;
     padding-top: 0;
     padding-bottom: 0;
 }
